# Environment Variables

# Base URL for the application
BASE_URL=http://localhost:3000

# API URL (if different from BASE_URL)
API_URL=http://localhost:3000

# Other environment-specific variables
# Test User Credentials (Demo)
TEST_USER_EMAIL=yourusername1@example.com
TEST_USER_PASSWORD=your-secure-password
TEST_USER_2_EMAIL=yourusername2@example.com
TEST_USER_2_PASSWORD=your-secure-password

# Convex URL
NEXT_PUBLIC_CONVEX_URL=convexurlhere

# Add your custom variables here
# Clerk Authentication (https://clerk.com)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=ClerkKeyHere
CLERK_SECRET_KEY=ClerkSecretKeyHere
